USE [NFMT_Basic]
GO
/****** Object:  Table [dbo].[BDStyleDetail]    Script Date: 11/27/2014 11:03:26 ******/
DROP TABLE [dbo].[BDStyleDetail]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BDStyleDetail](
	[StyleDetailId] [int] IDENTITY(1,1) NOT NULL,
	[BDStyleId] [int] NOT NULL,
	[DetailCode] [varchar](80) NOT NULL,
	[DetailName] [varchar](80) NOT NULL,
	[DetailStatus] [int] NOT NULL,
	[CreatorId] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[LastModifyId] [int] NULL,
	[LastModifyTime] [datetime] NULL,
 CONSTRAINT [PK_BDStyleDetail] PRIMARY KEY CLUSTERED 
(
	[StyleDetailId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'基础类型编码明细表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BDStyleDetail'
GO
SET IDENTITY_INSERT [dbo].[BDStyleDetail] ON
INSERT [dbo].[BDStyleDetail] ([StyleDetailId], [BDStyleId], [DetailCode], [DetailName], [DetailStatus], [CreatorId], [CreateTime], [LastModifyId], [LastModifyTime]) VALUES (1, 1, N'ConEarnest', N'合约定金', 50, 1, CAST(0x0000A3460098D1AA AS DateTime), 1, CAST(0x0000A37100E259E9 AS DateTime))
INSERT [dbo].[BDStyleDetail] ([StyleDetailId], [BDStyleId], [DetailCode], [DetailName], [DetailStatus], [CreatorId], [CreateTime], [LastModifyId], [LastModifyTime]) VALUES (2, 1, N'Advance-Deposit', N'预付款保证金', 50, 1, CAST(0x0000A34600996890 AS DateTime), 1, CAST(0x0000A34600996890 AS DateTime))
INSERT [dbo].[BDStyleDetail] ([StyleDetailId], [BDStyleId], [DetailCode], [DetailName], [DetailStatus], [CreatorId], [CreateTime], [LastModifyId], [LastModifyTime]) VALUES (3, 1, N'GoodsPayment', N'货款', 50, 1, CAST(0x0000A34600999299 AS DateTime), 1, CAST(0x0000A34600999299 AS DateTime))
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[BDStyleDetail] OFF
