USE [NFMT_Basic]
GO
/****** Object:  Table [dbo].[BDStatus]    Script Date: 11/27/2014 11:03:26 ******/
DROP TABLE [dbo].[BDStatus]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BDStatus](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [varchar](20) NULL,
	[StatusNameCode] [varchar](20) NULL,
	[KeyName] [varchar](20) NULL,
	[TableName] [varchar](50) NULL,
	[CreatorId] [int] NULL,
	[CreateTime] [datetime] NULL,
	[LastModifyId] [int] NULL,
	[LastModifyTime] [datetime] NULL,
 CONSTRAINT [PK_BDStatus] PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'基础状态主表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BDStatus'
GO
SET IDENTITY_INSERT [dbo].[BDStatus] ON
INSERT [dbo].[BDStatus] ([StatusId], [StatusName], [StatusNameCode], [KeyName], [TableName], [CreatorId], [CreateTime], [LastModifyId], [LastModifyTime]) VALUES (1, N'通用状态', N'CommonStatus', N'StatusId', N'dbo.BDStatus', 1, CAST(0x0000A36100A06D39 AS DateTime), 1, NULL)
INSERT [dbo].[BDStatus] ([StatusId], [StatusName], [StatusNameCode], [KeyName], [TableName], [CreatorId], [CreateTime], [LastModifyId], [LastModifyTime]) VALUES (2, N'库存状态', N'StockStatus', N'StatusId', N'dbo.BDStatus', 1, CAST(0x0000A36100A06D39 AS DateTime), 1, NULL)
INSERT [dbo].[BDStatus] ([StatusId], [StatusName], [StatusNameCode], [KeyName], [TableName], [CreatorId], [CreateTime], [LastModifyId], [LastModifyTime]) VALUES (3, N'消息状态', N'SmsStatus', N'StatusId', N'dbo.BDStatus', 1, CAST(0x0000A3A300A49205 AS DateTime), 1, NULL)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[BDStatus] OFF
