<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

	<connectionStrings>
		<add connectionString="Data Source=192.168.13.164;Initial Catalog=NFMT;User Id=pub_nfmt;Password=123456;Application Name=NFMT" name="ConnectionStringNFMT" providerName="sql"/>
		<add connectionString="Data Source=192.168.13.164;Initial Catalog=NFMT_User;User Id=pub_user;Password=user123;Application Name=NFMT_User" name="ConnectionStringUser" providerName="sql"/>
		<add connectionString="Data Source=192.168.13.164;Initial Catalog=NFMT_Basic;User Id=pub_basic;Password=basic123;Application Name=NFMT_Basic" name="ConnectionStringBasic" providerName="sql"/>
		<add connectionString="Data Source=192.168.13.164;Initial Catalog=NFMT_WorkFlow;User Id=pub_workflow;Password=workflow123;Application Name=NFMT_WorkFlow" name="ConnectionStringWorkFlow" providerName="sql"/>
		<add connectionString="Data Source=192.168.13.164;Initial Catalog=NFMT_Sms;User Id=pub_sms;Password=sms123;Application Name=NFMT_Sms" name="ConnectionStringSms" providerName="sql"/>
	</connectionStrings>
	
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
