USE [NFMT]
GO
/****** Object:  StoredProcedure [dbo].[CreateApplyNo]    Script Date: 01/16/2015 09:07:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CreateApplyNo]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[CreateApplyNo]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CreateApplyNo]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE proc [dbo].[CreateApplyNo]
(
@applyType int,
@identity int
)
as
begin

declare @typeName varchar(20)
declare @applyNo varchar(20)

select @typeName = DetailCode from NFMT_Basic.dbo.BDStyleDetail where StyleDetailId = @applyType
set @applyNo = @typeName + CAST(@identity as varchar)

update dbo.Apply set ApplyNo=@applyNo where ApplyId = @identity

end
' 
END
GO
