<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>
	
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>	

	<log4net debug="true">

		<appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
			<bufferSize value="1" />
			<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      
      <!--<connectionString value="data source=192.168.18.43;database=NFMT_Logger;user id=sa;password=mk!QAZSE$;"/>-->
      <!--<connectionString value="data source=192.168.13.164;database=NFMT_Logger;user id=pub_logger;password=123456;"/>-->
      <connectionString value="data source=192.168.13.205;database=NFMT_Logger;user id=sa;password=7788250;"/>
      <!--<connectionString value="data source=192.168.18.251;database=NFMT_Logger;user id=sa;password=mk7788250;" />-->
      
			<commandText value="INSERT INTO Logger ([Date],[Thread],[Level],[Logger],[Message]) VALUES (@Date, @thread, @Level, @logger,@message)" />

			<parameter>
				<parameterName value="@Date" />
				<dbType value="Datetime" />
				<size value="240" />
				<layout type="log4net.Layout.RawTimeStampLayout" />
			</parameter>

			<parameter>
				<parameterName value="@thread" />
				<dbType value="string" />
				<size value="255" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%thread" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@Level" />
				<dbType value="string" />
				<size value="20" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%level" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@logger" />
				<dbType value="string" />
				<size value="255" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%logger" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@message" />
				<dbType value="string" />
				<size value="4000" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message" />
				</layout>
			</parameter>
		</appender>

		<root>
			<level value="WARN" />
			<level value="INFO" />
			<level value="DEBUG" />
			<level value="FINE" />
			<appender-ref ref="AdoNetAppender" />
		</root>

	</log4net>

  <connectionStrings>
    
    <!--<add connectionString="Data Source=192.168.18.43;Initial Catalog=NFMT;User Id=sa;Password=mk!QAZSE$;Application Name=NFMT" name="ConnectionStringNFMT" providerName="sql"/>
    <add connectionString="Data Source=192.168.18.43;Initial Catalog=NFMT_User;User Id=sa;Password=mk!QAZSE$;Application Name=NFMT_User" name="ConnectionStringUser" providerName="sql"/>
    <add connectionString="Data Source=192.168.18.43;Initial Catalog=NFMT_Basic;User Id=sa;Password=mk!QAZSE$;Application Name=NFMT_Basic" name="ConnectionStringBasic" providerName="sql"/>
    <add connectionString="Data Source=192.168.18.43;Initial Catalog=NFMT_WorkFlow;User Id=sa;Password=mk!QAZSE$;Application Name=NFMT_WorkFlow" name="ConnectionStringWorkFlow" providerName="sql"/>
    <add connectionString="Data Source=192.168.18.43;Initial Catalog=NFMT_Sms;User Id=sa;Password=mk!QAZSE$;Application Name=NFMT_Sms" name="ConnectionStringSms" providerName="sql"/>
    <add connectionString="Data Source=192.168.18.43;Initial Catalog=NFMT;User Id=sa;Password=mk!QAZSE$;Application Name=NFMT" name="ConnectionStringFinance" providerName="sql"/>-->

    <!--<add connectionString="Data Source=192.168.13.164;Initial Catalog=NFMT;User Id=pub_nfmt;Password=123456;Application Name=NFMT" name="ConnectionStringNFMT" providerName="sql"/>
		<add connectionString="Data Source=192.168.13.164;Initial Catalog=NFMT_User;User Id=pub_user;Password=user123;Application Name=NFMT_User" name="ConnectionStringUser" providerName="sql"/>
		<add connectionString="Data Source=192.168.13.164;Initial Catalog=NFMT_Basic;User Id=pub_basic;Password=basic123;Application Name=NFMT_Basic" name="ConnectionStringBasic" providerName="sql"/>
		<add connectionString="Data Source=192.168.13.164;Initial Catalog=NFMT_WorkFlow;User Id=pub_workflow;Password=workflow123;Application Name=NFMT_WorkFlow" name="ConnectionStringWorkFlow" providerName="sql"/>
		<add connectionString="Data Source=192.168.13.164;Initial Catalog=NFMT_Sms;User Id=pub_sms;Password=sms123;Application Name=NFMT_Sms" name="ConnectionStringSms" providerName="sql"/>
    <add connectionString="Data Source=192.168.13.164;Initial Catalog=NFMT;User Id=pub_nfmt;Password=123456;Application Name=NFMT" name="ConnectionStringFinance" providerName="sql"/>-->

    <add connectionString="Data Source=192.168.13.205;Initial Catalog=NFMT;User Id=sa;Password=7788250;Application Name=NFMT" name="ConnectionStringNFMT" providerName="sql"/>
    <add connectionString="Data Source=192.168.13.205;Initial Catalog=NFMT_User;User Id=sa;Password=7788250;Application Name=NFMT_User" name="ConnectionStringUser" providerName="sql"/>
    <add connectionString="Data Source=192.168.13.205;Initial Catalog=NFMT_Basic;User Id=sa;Password=7788250;Application Name=NFMT_Basic" name="ConnectionStringBasic" providerName="sql"/>
    <add connectionString="Data Source=192.168.13.205;Initial Catalog=NFMT_WorkFlow;User Id=sa;Password=7788250;Application Name=NFMT_WorkFlow" name="ConnectionStringWorkFlow" providerName="sql"/>
    <add connectionString="Data Source=192.168.13.205;Initial Catalog=NFMT_Sms;User Id=sa;Password=7788250;Application Name=NFMT_Sms" name="ConnectionStringSms" providerName="sql"/>
    <add connectionString="Data Source=192.168.13.205;Initial Catalog=Financing;User Id=sa;Password=7788250;Application Name=Financing" name="ConnectionStringFinance" providerName="sql"/>

    <!--<add connectionString="Data Source=192.168.18.251;Initial Catalog=NFMT;User Id=sa;Password=mk7788250;" name="ConnectionStringNFMT" providerName="sql" />
    <add connectionString="Data Source=192.168.18.251;Initial Catalog=NFMT_User;User Id=sa;Password=mk7788250;" name="ConnectionStringUser" providerName="sql" />
    <add connectionString="Data Source=192.168.18.251;Initial Catalog=NFMT_Basic;User Id=sa;Password=mk7788250;" name="ConnectionStringBasic" providerName="sql" />
    <add connectionString="Data Source=192.168.18.251;Initial Catalog=NFMT_WorkFlow;User Id=sa;Password=mk7788250;" name="ConnectionStringWorkFlow" providerName="sql" />
    <add connectionString="Data Source=192.168.18.251;Initial Catalog=NFMT_Sms;User Id=sa;Password=mk7788250;" name="ConnectionStringSms" providerName="sql" />
    <add connectionString="Data Source=192.168.18.251;Initial Catalog=Financing;User Id=sa;Password=mk7788250;" name="ConnectionStringFinance" providerName="sql" />-->
    
  </connectionStrings>
	
	<system.web>
		<compilation targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	</system.web>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
		<directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="Login.aspx" />
            </files>
        </defaultDocument>
	</system.webServer>

</configuration>
