.jqx-rc-tl-metro {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
}

.jqx-rc-tr-metro {
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
}

.jqx-rc-bl-metro {
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
}

.jqx-rc-br-metro {
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}

.jqx-rc-t-metro {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
}

.jqx-rc-b-metro {
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}

.jqx-rc-r-metro {
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}

.jqx-rc-l-metro {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
}

.jqx-rc-all-metro {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.jqx-widget-metro {
    font-size: 14px;
    font-family: 'segoe ui',arial,sans-serif;
}

.jqx-widget-content-metro {
    font-size: 14px;
    font-family: 'segoe ui',arial,sans-serif;
    border-color: #e5e5e5;
    color: #767676;
    background-color: #fff;
}

.jqx-widget-header-metro {
    font-size: 14px;
    font-family: 'segoe ui',arial,sans-serif;
    color: #767676;
    border-color: #e5e5e5;
    background-color: #f4f4f4;
}

.jqx-fill-state-normal-metro {
    font-size: 14px;
    font-family: 'segoe ui',arial,sans-serif;
    border-color: #e5e5e5;
    color: #767676;
    background: #fff;
}

.jqx-button-metro {
    border-color: #cdcdcd;
}

.jqx-fill-state-hover-metro {
    border-color: #dedede;
    color: #000;
    background-color: #dedede;
}

.jqx-fill-state-focus-metro {
    border-color: #cdcdcd;
}

.jqx-fill-state-pressed-metro {
    border-color: #3a90d5;
    color: #fff;
    background-color: #3a90d5;
}

.jqx-input-metro {
    border-color: #e5e5e5;
}

.jqx-scrollbar-state-normal-metro, .jqx-grid-bottomright-metro, .jqx-panel-bottomright-metro, .jqx-listbox-bottomright-metro {
    background-color: #f0f0f0;
}

.jqx-widget-metro .jqx-grid-column-header-metro, .jqx-grid-cell-metro, .jqx-widget-metro .jqx-grid-cell-metro, .jqx-widget-metro .jqx-grid-group-cell-metro, .jqx-grid-group-cell-metro {
    font-size: 14px;
    font-family: 'segoe ui',arial,sans-serif;
    border-color: #f0f0f0;
}

.jqx-tabs-title-selected-bottom-metro, .jqx-tabs-selection-tracker-bottom-metro, .jqx-tabs-title-selected-top-metro, .jqx-tabs-selection-tracker-top-metro {
    color: #767676;
    border-color: #e5e5e5;
    border-bottom: 1px solid #fff;
    background: #fff;
}

.jqx-grid-cell-sort-alt-metro, .jqx-grid-cell-filter-alt-metro, .jqx-grid-cell-pinned-metro, .jqx-grid-cell-alt-metro, .jqx-grid-cell-sort-metro {
    background-color: #ededed;
    color: #000;
}

.jqx-menu-vertical-metro {
    background: #fff;
    border-color: #e5e5e5;
}

.jqx-widget-metro .jqx-grid-cell-metro, .jqx-widget-metro .jqx-grid-column-header-metro, .jqx-widget-metro .jqx-grid-group-cell-metro {
    color: #000;
    border-color: #e5e5e5;
}

.jqx-widget-metro .jqx-grid-column-menubutton-metro, .jqx-widget-metro .jqx-grid-column-sortascbutton-metro, .jqx-widget-metro .jqx-grid-column-sortdescbutton-metro, .jqx-widget-metro .jqx-grid-column-filterbutton-metro {
    background-color: transparent;
    border-color: #e5e5e5;
}

.jqx-window-header-metro, .jqx-input-button-header-metro, .jqx-calendar-title-header-metro, .jqx-grid-metro .jqx-widget-header-metro, .jqx-grid-header-metro, .jqx-grid-column-header-metro {
    font-size: 14px;
    font-family: 'segoe ui',arial,sans-serif;
    border-color: #e5e5e5;
    color: #767676;
    background: #f4f4f4;
}

.jqx-grid-column-menubutton-metro {
    background-image: url('images/metro-icon-down.png');
}

.jqx-widget-metro .jqx-grid-cell-selected-metro, .jqx-grid-cell-selected-metro {
    background-color: #3a90d5;
    border-color: #3a90d5;
    font-size: 14px;
    color: #fff;
}

.jqx-grid-cell-hover-metro {
    background-color: #dedede;
}
